@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
  --bg-color: #d7d6d0;
  --bg-70-color: #d7d6d0b3;
  --text-color: #101010;
  --text-70-color: #101010b3;
}

html.dark {
  --bg-color: #101010;
  --bg-70-color: #101010b3;
  --text-color: #d7d6d0;
  --text-70-color: #d7d6d0b3;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

i.bi {
  font-size: 24px;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  color: var(--text-color);
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

i.bi:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  box-shadow: 0px 0px 30px var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  transition: color 1s;
}

html {
  scroll-behavior: smooth;
  transition: 0.5s;
  overscroll-behavior-y: none;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
}

body {
  background-color: var(--bg-color);
  display: flex;
}

.no-cursor {
  cursor: none;
}

.locked {
  overflow: hidden;
}

.dark-ball {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #101010;
  width: 100px;
  height: 100px;
  z-index: 9999;
  border-radius: 50%;
  transition: 0.8s;
  transform: scale(0);
}

.light-ball {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #d7d6d0;
  width: 100px;
  height: 100px;
  z-index: 9999;
  border-radius: 50%;
  transition: 0.8s;
  transform: scale(0);
}

.modal-closed {
  opacity: 0;
  pointer-events: none;

  .modal {
    filter: blur(0.8vi);
  }
}

.modal-view {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 30px 30px;
  transition: 0.4s;

  .close-modal-icon {
    position: fixed;
    top: 20px;
    border-radius: 50%;
    background-color: var(--bg-70-color);
    backdrop-filter: blur(5px);
    font-size: 30px;
    transition: 0.2s;
  }

  .modal {
    background-color: var(--bg-color);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-height: 85vh;
    overflow-y: auto;
    width: 100%;
    max-width: 1200px;
    transition: 0.2s;
    gap: 20px;

    .close-modal-icon:hover {
      background-color: var(--text-color);
    }

    .column {
      gap: 20px;

      img {
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        min-width: 280px;
      }

      h1 {
        cursor: text;
        color: var(--text-color);
      }
    }


    .coluna {
      justify-content: start;
      align-items: start;
      flex: 2;
    }

    .coluna-2 {
      width: 100%;
      align-items: start;
      justify-content: space-between;
      max-width: 500px;
      min-width: 200px;

      .column {
        gap: 10px;
        align-items: start;

        .row {
          gap: 5px;
          flex-wrap: wrap;
          justify-content: start;

          p {
            cursor: text;
            background-color: var(--bg-color);
            padding: 5px 10px 5px 10px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 15px;
            color: var(--text-color);
            border: 1px solid var(--text-color);
          }
        }

        p {
          cursor: text;
          color: var(--text-color);
        }
      }

      .modal-link {
        border: none;
        background-color: var(--text-color);
        font-size: 20px;
        font-weight: 500;
        color: var(--bg-color);
        padding: 10px 30px 10px 30px;
        border: 1px solid transparent;
        font-family: Oswald;
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        align-items: end;
        gap: 5px;
        text-decoration: none;

        i {
          font-size: 22px;
          color: var(--bg-color);
          position: static;
          padding: 0;
          pointer-events: none;
          transition: 0.4s;
        }
      }

      .modal-link:hover {
        background-color: transparent;
        border: 1px solid var(--text-color);
        color: var(--text-color);
        gap: 15px;

        i {
          transform: rotate(405deg);
          color: var(--text-color);
        }
      }
    }
  }
}



@keyframes wall-out {
  0% {
    // width: 50%;
    opacity: 1;
  }


  100% {
    opacity: 0;
    // width: 0%;
  }
}

@keyframes loading-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes letter-out {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.loading-view {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  h1 {
    margin-bottom: 125px;
    position: absolute;
    z-index: 2;
    color: var(--text-color);
    animation: letter-out ease 2.5s forwards;
    font-weight: 300;
  }

  .loading-svg {
    z-index: 2;
    width: 200px;
    filter: brightness(0.45);
    animation: loading-out ease 1s forwards;
    animation-delay: 1.5s;
  }

  .wall {
    position: absolute;
    background-color: var(--bg-color);
    height: 100%;
    width: 50%;
    animation: wall-out ease 2s forwards;
    animation-delay: 1.5s;
  }
}

.copyright {
  position: fixed;
  color: var(--text-color);
  transform: rotate(-90deg);
  z-index: 99;
  font-weight: 600;
  font-size: 0.8vi;
  left: -2vi;
  bottom: 7vi;
}

.margin {
  position: fixed;
  top: none;
  width: 100%;
  height: 100vh;
  border: 2vi solid var(--bg-color);
  z-index: 50;
  pointer-events: none;

  .margin-container {
    border: 1px solid var(--text-color);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--bg-color),
        transparent 15% 85%,
        var(--bg-color));
  }
}

.color-mode {
  top: 0;
  z-index: 999;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  padding: 18px 15px 18px 15px;
  border-bottom-left-radius: 10px;
  pointer-events: all;
  cursor: default;
}

.lang-mode {
  bottom: 0;
  z-index: 999;
  position: fixed;
  left: 0;
  background-color: var(--bg-color);
  border-bottom-left-radius: 10px;
  pointer-events: all;
  padding: 10px 15px 10px 15px;
  cursor: default;
  display: flex;
  border-radius: 10px;
  transition: 0.3s;

  .inner-lang {
    background-image: url('../assets/images/brasil.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 65%;
    width: 50px;
    height: 50px;
    transition: 0.2s background-color;
    border-radius: 10px;
    cursor: pointer;
  }

  .inner-lang:hover {
    background-color: var(--text-color);
  }

  .active {
    background-image: url('../assets/images/eua.png') !important;
  }

}

.hidden {
  opacity: 0;
  pointer-events: none;
}



.graph-mode {
  bottom: 0;
  z-index: 999;
  position: fixed;
  right: 0;
  background-color: var(--bg-color);
  padding: 18px 15px 18px 15px;
  border-top-left-radius: 10px;
  pointer-events: all;
  cursor: default;
  transition: 0.3s;
}

.top-section {
  position: fixed;
  top: 2.05vi;
  width: 100%;
  padding-left: 2.05vi;
  justify-content: center;
  gap: 5px;
  z-index: 99;
  pointer-events: none;
  display: flex;
  justify-content: start;
  transition: 0.3s;



  h1 {
    margin: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    pointer-events: all;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    i {
      padding: 0;
      font-size: 18px;
      pointer-events: none;
      color: var(--text-color);
      transition: 0.3s;
    }
  }

  h1:hover {
    background-color: var(--text-color);
    color: var(--bg-color);

    i {
      color: var(--bg-color);
    }
  }
}

.section-row {
  position: fixed;
  bottom: 2.05vi;
  width: 100%;
  justify-content: center;
  gap: 5px;
  z-index: 999;
  pointer-events: none;

  .row {
    background-color: var(--bg-color);
    border-radius: 10px 10px 0px 0px;
    // border: 1px solid #b3b3b3;
    transition: opacity 0.3s;
    flex-wrap: wrap;
    pointer-events: all;

    .column {
      padding: 10px;
      cursor: pointer;
      align-items: center;
      min-width: 140px;
      gap: 10px;
      transition: 0.3s;
      border-radius: 10px;

      h1 {
        text-align: center;
        color: var(--text-color);
        font-size: 20px;
        font-weight: 300;
      }

      .line {
        background-color: var(--text-color);
        width: 0;
        height: 1px;
        transition: 0.4s;
      }
    }

    .column:hover {
      .line {
        width: 100%;
      }
    }
  }
}

@keyframes popup-anim {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  10% {
    transform: translateY(16px);
  }

  20% {
    opacity: 1;
    transform: translateY(16px);
  }

  90% {
    opacity: 1;
    transform: translateY(16px);
  }

  100% {
    opacity: 0;
    transform: translateY(16px);
  }

}

.pop-anim {
  animation: 3s popup-anim ease forwards;
}

.popup-view {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  .popup {
    opacity: 0;
    background-color: var(--text-color);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.162);

    h1 {
      text-align: center;
      max-width: 200px;
      font-size: 18px;
      font-weight: 400;
      color: var(--bg-color);
    }
  }
}

.cursor-text {
  pointer-events: none;
  transition: opacity 0.3s;
  color: white;
  position: fixed;
  font-size: 18px;
  opacity: 0;
  z-index: 10;
  transform: translate(15px, 20px);
  mix-blend-mode: difference;
}

.cursor-ball {
  position: fixed;
  border-radius: 50%;
  background-color: #d7d6d0;
  width: 70px;
  height: 70px;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10;
  transform: translate(-50%, -50%);
  transition: transform 0.3s, opacity 0.3s;
}

.view-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scroll-container {
  position: fixed;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 2000px;
  padding: 3vi;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  width: 100%;
  padding: 20px;
  display: flex;
}

.about-text {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 800px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  flex-wrap: wrap;
  justify-content: center;
  pointer-events: none;
  transition: opacity 0.5s;

  .about-word {
    font-size: 60px;
    line-height: 55px;
    font-weight: 400;
    color: var(--text-color);
    opacity: 0;
    font-family: Bebas Neue;
    transform: translateY(40px);
  }
}

.fixed-help {
  top: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .help-text-1 {
    color: var(--text-color);
    font-size: 100px;
  }
}

main {
  width: 100%;
  gap: 100px;

  .my-face {
    background-color: red;
    width: 100%;
    max-width: 180px;
    height: 180px;
    background-image: url('../assets/images/upd2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    transition: 0.2s;
  }

  .my-face:hover {
    transform: scale(1.05);
    filter: saturate(0.8);
  }

  .section-1 {
    padding: 0px 0px 0px 70px;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 90vh;
    gap: 30px;

    .face-row {
      width: 100%;
      gap: 2px;
      display: flex;
      align-items: end;
    }

    .column {
      gap: 20px;
      align-items: start;
      transform: perspective(0) rotateY(0deg);

      h1 {
        text-align: start;
        font-size: clamp(20px, 5vw, 55px);
        font-weight: 300;
        color: var(--text-color);

        span {
          text-decoration: underline;
        }
      }

      p {
        color: var(--text-color);
        font-size: 23px;
        font-weight: 200;
        margin-left: 4px;
        max-width: 650px;
      }
    }

    img {
      width: 700px;
      transform: perspective(5vw) rotateY(0deg);
    }
  }

  .waves-svg {
    position: absolute;
    height: 900px;
    filter: saturate(0.4) brightness(0.7);
    right: 2vi;
    z-index: 0;
  }

  .section-about {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


    h1 {
      text-align: center;
      font-family: Bebas Neue;
      max-width: 700px;
      font-size: 55px;
      font-weight: 400;
      color: var(--text-color);

      span {
        font-family: Bebas Neue;
        color: var(--bg-color);
        text-shadow: 2px 2px 0 var(--text-color), -2px -2px 0 var(--text-color),
          2px -2px 0 var(--text-color), -2px 2px 0 var(--text-color);
      }
    }
  }

  .section-2 {
    position: relative;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .lang-column {
      z-index: 1;
      width: 100%;
      gap: 30px;
      text-align: center;

      h1 {
        font-size: 35px;
        font-weight: 400;
        color: var(--text-color);
      }

      .lang-row {
        user-select: none;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        .lang {
          font-size: 18px;
          font-weight: 500;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 250px;
          flex: 0 0 calc(16% - 10px);
          text-align: center;
          color: var(--text-color);
          padding: 10px;
          border: 1px solid var(--text-color);
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
          background-color: var(--bg-color);
        }

        .lang:hover {
          transform: translateY(-3px);
          filter: brightness(1.2);
        }

        .selected {
          background-color: #101010d4;
        }

        .selected[data-lang="html"] {
          color: #ff5328;
          border-color: #ff5328;
        }

        .selected[data-lang="css"] {
          color: #3f65ff;
          border-color: #3f65ff;
        }

        .selected[data-lang="js"] {
          color: #ffd500;
          border-color: #ffd500;
        }

        .selected[data-lang="react"] {
          color: #21cfff;
          border-color: #21cfff;
        }

        .selected[data-lang="ts"] {
          color: #1e5eff;
          border-color: #1e5eff;
        }

        .selected[data-lang="git"] {
          color: #f05032;
          border-color: #f05032;
        }

        .selected[data-lang="tailwind"] {
          color: #a05dff;
          border-color: #a05dff;
        }

        .selected[data-lang="rn"] {
          color: #61dafb;
          border-color: #61dafb;
        }

        .selected[data-lang="next"] {
          color: #ffffff;
          border-color: #ffffff;
        }

        .selected[data-lang="node"] {
          color: #71e067;
          border-color: #71e067;
        }

        .selected[data-lang="express"] {
          color: #f7d31e;
          border-color: #f7d31e;
        }

        .selected[data-lang="elementor"] {
          color: #ff0066;
          border-color: #ff0066;
        }

        .selected[data-lang="uiux"] {
          color: #ff6f61;
          border-color: #ff6f61;
        }

        .selected[data-lang="figma"] {
          color: #a05dff;
          border-color: #a05dff;
        }
      }
    }

    .lang-text-column {
      z-index: 1;
      align-items: center;
      transition: opacity 0.3s;

      .big-lang-text {
        color: var(--bg-color);
        font-family: Bebas Neue;
        font-size: clamp(55px, 10vw, 100px);
        font-weight: 700;
        text-shadow: 2px 2px 0 var(--text-color), -2px -2px 0 var(--text-color),
          2px -2px 0 var(--text-color), -2px 2px 0 var(--text-color);
      }

      p {
        color: var(--text-color);
        font-size: 20px;
        max-width: 650px;
        text-align: center;
      }
    }

    // .lang-gradient {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 0;
    //   height: 250px;
    //   width: 825px;
    //   max-width: 40vw;
    //   filter: blur(50px);
    //   transition: opacity 0.4s;

    //   .gradient-color {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: #ff53284e;
    //     width: 100%;
    //     height: 100%;
    //   }

    //   .gradient-maker {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-image: linear-gradient(to left, var(--bg-color) 520%, transparent);
    //     width: 100%;
    //     height: 100%;
    //   }
    // }


  }

  .section-work {
    padding: 20px;
    gap: 10px;
    min-height: 50vh;
    align-items: start;
    justify-content: center;

    h1 {
      font-family: Bebas Neue;
      max-width: 700px;
      font-size: 55px;
      font-weight: 400;
      text-align: center;
      color: var(--text-color);
    }

    .card-row {
      width: 100%;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 15px;

      .work-card {
        display: flex;
        flex-direction: row;
        cursor: none;
        padding: 30px;
        border-radius: 20px;
        border: 1px solid var(--text-70-color);
        align-items: center;
        justify-content: space-between;
        flex: 1;
        gap: 25px;
        transition: 0.3s;

        i {
          font-size: 40px;
          border: 1px solid var(--text-70-color);
          border-radius: 50%;
          pointer-events: none;
          transition: 0.8s;
        }

        .column {
          gap: 5px;

          h1 {
            text-align: start;
            font-family: Inter;
            font-size: 30px;
            font-weight: 400;
            color: var(--text-color);
          }

          p {
            text-align: start;
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            color: var(--text-color);
          }
        }
      }

      .work-card:hover {
        background-color: var(--text-color);


        i {
          border: 1px solid var(--bg-70-color);
          color: var(--bg-color);
          transform: rotate(360deg);
        }

        .column {
          h1 {
            color: var(--bg-color);
          }

          p {
            color: var(--bg-color);
          }
        }
      }
    }
  }

  .section-3 {
    margin-top: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    h1 {
      font-size: 30px;
      font-weight: 400;
      color: var(--text-color);
    }



    .row {
      gap: 20px;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1300px;


      .projeto {
        width: 100%;
        max-width: 400px;
        filter: saturate(0.5);
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s;
        transform-origin: center;

        .img {
          width: 100%;
          height: 65vw;
          max-height: 350px;
          background-image: url(assets/images/NB_project.png);
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          transition: 0.5s;

          .hover-container {
            padding: 10px;
            position: absolute;
            opacity: 0;
            background-color: var(--bg-70-color);
            width: 100%;
            height: 65vw;
            max-height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            align-items: center;
            transition: 0.5s;


            h1 {
              text-align: center;
              font-size: 20px;
              font-weight: 400;
              color: var(--text-color);
              margin-top: -2.5vw;
              transition: 0.4s;
            }

            .row {
              gap: 5px;
              flex-wrap: wrap;
              justify-content: center;
              margin-top: 5vw;
              transition: 0.4s;

              p {
                background-color: var(--bg-color);
                padding: 5px 10px 5px 10px;
                font-size: 14px;
                font-weight: 500;
                border-radius: 15px;
                color: var(--text-color);
                border: 1px solid var(--text-color);
              }
            }
          }
        }
      }

      .projeto:hover {

        .img {
          filter: saturate(0);
          transform: scale(0.93);

          .hover-container {
            opacity: 1;
            backdrop-filter: blur(4px);

            h1 {
              margin-top: 0vw;
            }

            .row {
              margin-top: 0vw;
            }
          }
        }

        .column {
          margin-top: 0px;
        }
      }
    }
  }
}



footer {
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--text-color);
  margin-top: 10vh;


  nav {
    width: 100%;
    min-height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    h1 {
      font-size: 30px;
      font-weight: 400;
      color: var(--text-color);
    }

    .socials-column {
      gap: 5px;

      .social {
        cursor: pointer;
        gap: 8px;
        align-items: center;
        text-decoration: none;

        div {
          width: 0;
          overflow: hidden;
          transition: 0.4s;

          p {

            opacity: 0;
            color: var(--text-color);
            transition: transform 0.4s, opacity 0.4s;
            transform: scale(0.9);
            transform-origin: left;
          }
        }

      }

      .social:hover {
        div {
          width: 250px;

          p {
            cursor: text;
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media (max-width: 1444px) {
  .waves-svg {
    opacity: 0.6;
  }

  main {
    .section-1 {
      padding: 20px;
    }

    .section-2 {
      flex-direction: column;
      align-items: center;

      .lang-column {
        align-items: center;

        .lang-row {
          justify-content: center;
        }
      }

      .lang-text-column {
        align-items: center;

        .lang-description {
          text-align: center;
        }
      }

    }
  }
}

@media (max-width: 1028px) {
  .waves-svg {
    opacity: 0.3;
  }


  main {
    .section-1 {
      padding: 20px;
    }

    .section-2 {
      .project-row {
        justify-content: center;
        flex-wrap: wrap;

        .projeto {
          min-width: 250px;
        }
      }

    }

  }
}

@media (max-width: 770px) {
  .modal-view {
    .modal {
      .coluna-2 {
        max-width: 100%;
      }
    }
  }

  .copyright {
    display: none;
  }

  main {
    .section-1 {
      margin-top: 50px;
      min-height: 50vh;
      padding: 20px;

      .column {
        h1 {
          font-size: 50px;
          font-weight: 400;
          text-align: start;
        }
      }
    }

    .section-about {
      justify-content: center;

      h1 {
        text-align: center;
      }
    }
  }

  .cursor-text {
    display: none;
  }

  .cursor-ball {
    display: none;
  }

  .waves-svg {
    display: none;
  }
}

@media (max-width: 426px) {
  .color-mode {
    padding: 10px;

    i {
      font-size: 20px;
    }
  }

  .graph-mode {
    padding: 10px;

    i {
      font-size: 20px;
    }
  }

  .margin {
    .margin-container {
      background-image: linear-gradient(var(--bg-color),
          transparent 5% 95%,
          var(--bg-color));
    }
  }

  .section-row {
    bottom: 0;

    .row {
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 5px;
      width: 100%;

      .column {
        min-width: 100px;

        h1 {
          font-size: 18px;
        }
      }
    }
  }

  .scroll-container {
    padding: 6vi;
  }

  main {
    .section-1 {
      margin-top: 5vh;
      padding: 20px;
      min-height: 20vh;
    }

    .section-2 {
      padding: 10px;

      .column {
        padding: 10px;
      }
    }

    .section-work {
      .card-row {
        .work-card {
          flex-direction: column-reverse;

          .column {

            h1 {
              text-align: center;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}